/data/
/luis_sdk/
/reference_code/
/pytorch/data/
/pytorch/jupyter/data/
/pytorch/jupyter/result/
/pytorch/result/
/FOOD/food/
/GAN/result/
/LESSEN/
/TREE/
*.pyc
*.png
*.jpeg
*.jpg
*.bmp
*.npy
*.state
*.iter
*.model
